$border: 25px;
$width-img: 180px;
$width-card: $width-img + 20px;

.card {
  width: $width-card;
  padding: 10px;
  border-radius: $border;
  background-color: #1d1d1f;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover {
    background-color: #48494e;
  }

  &__img {
    position: relative;
    width: $width-img;
    min-height: calc($width-img * 1.5);
    height: calc($width-img * 1.5);
    overflow: hidden;
    border-radius: $border;
    margin-bottom: 10px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: white;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__text {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.25;
  }

  &__qualification {
    &__container {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px 8px;
      border-radius: 10px;
      background-color: #f5c518;
      z-index: 50;
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  &__btn {
    @apply rounded p-1 bg-sky-700;
    color: #f1f1f1;
    font-size: 16px;
  }
}
