.categories {
  margin-bottom: 50px;
}

.category {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #212121;
  cursor: pointer;
  transition: all 0.35s ease-in-out;

  &:hover,
  &.selected {
    background-color: #45455e;
  }

  &__text {
    font-size: 16px;
    font-weight: 600;
    color: white;
  }
}

.title {
  font-size: 35px;
  font-weight: 800;
  color: white;
  margin-right: 30px;
}
