<section class="movie flex flex-wrap justify-center">
  <div class="movie__background">
    <img
      class="movie__background__img"
      [src]="backgroundImg"
      alt="backgroundImg"
    />
  </div>
  <div class="movie__container mb-4">
    <article class="movie__poster p-5">
      <div class="movie__poster__img">
        <img [src]="poster" [alt]="movie.title" />
      </div>
      <div class="flex flex-wrap gap-2 mt-5">
        <p *ngFor="let gender of genders" class="movie__gender">
          {{ gender.name }}
        </p>
      </div>
    </article>
    <article class="movie__detail p-5">
      <h1 class="movie__title">{{ movie.title }}</h1>
      <h2 class="movie__subtitle">{{ movie.tagline }}</h2>
      <div class="movie__container__qualification">
        <app-qualification
          [qualification]="movie.vote_average || 0"
          size="20px"
        ></app-qualification>
      </div>
      <div class="flex items-center gap-3 mt-2">
        <span class="dot"></span>
        <span class="text-sm text-white">{{ release }}</span>
        <span class="dot"></span>
        <span class="text-sm text-white">{{ duration }}</span>
      </div>
      <div class="mt-4">
        <p class="text-xl font-semibold text-white mb-1">Sinopsis</p>
        <p class="text-white font-light">{{ movie.overview }}</p>
      </div>
      <div class="mt-4">
        <p class="text-xl font-semibold text-white mb-4">Reparto Principal</p>
        <article class="grid grid-cols-6 gap-4">
          <app-avatar-card
            *ngFor="let cast of mainCast"
            [cast]="cast"
            class="col-span-2"
          ></app-avatar-card>
        </article>
      </div>
    </article>
  </div>
  <div class="movie__container">
    <article class="movie__recommendations p-5">
      <h1 class="text-xl text-white mb-4">Recomendaciones</h1>
      <div class="flex gap-4">
        <card
          *ngFor="let movie of recommendations"
          [movie]="movie"
          (click)="goToMovie(movie.id || '')"
        >
        </card>
      </div>
    </article>
  </div>
</section>
