<ngx-skeleton-loader
  count="1"
  [theme]="{
            height: '350px',
            'border-radius': '25px',
            'background-color': '#212121',
          }"
></ngx-skeleton-loader>
<div class="flex gap-1">
  <ngx-skeleton-loader
    count="2"
    [theme]="{
              height: '27px',
              width: '100px',
              'border-radius': '10px',
              'margin-right': '8px',
              'margin-bottom': '8px',
              'background-color': '#212121',
            }"
  ></ngx-skeleton-loader>
</div>
